---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
export async function getStaticPaths({}) {
  const allPosts = await Astro.glob("../posts/**/**/*.mdx");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const allPosts = await Astro.glob("../../pages/posts/**/**/*.mdx");
const { tag } = Astro.params;
const { posts } = Astro.props;
// 日付順にソートする関数
const sortByDate = (a, b) => {
  return new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate);
};
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    <!-- Postsを日付順にソートして、一覧画面に表示する -->
    {
      posts
        .sort(sortByDate)
        .map((post: { url: any; frontmatter: { title: any } }) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
    }
  </ul>
</BaseLayout>
