---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout>
  <h3>{pageTitle}</h3>

  <p>
    namor といいます．逆から読むとroman...
    <br />
    大学に入り，ハンドルネームが必要で咄嗟に考えた名前です．
    <br />
    情報系の大学に通っていています．
  </p>
</BaseLayout>
