---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "このサイトについて";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout>
  <h5>{pageTitle}</h5>
  静的サイトジェネレータ<a href="https://astro.build/">Astro.js</a
  >で作成して，<a href="https://www.netlify.com/">Netlify</a
  >でホスティングしています．
  <br />
  <a href="https://docs.astro.build/en/tutorial/0-introduction/"
    >Astroの公式チュートリアル</a
  >をもとに，テンプレートを組み合わせて作ったので，カオスになってしまったところはあるもののなんとか形にすることができました．
</BaseLayout>
<style></style>
