---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout>
  <!-- <h3>My awesome blog subtitle</h3> -->
  <!-- <Greeting
    client:load
    messages={["Hej", "Hallo", "Hola", "Habari", "こんにちは"]}
  /> -->
  <h5>自分の記録を書き溜めるために始めたブログです!!</h5>
  <div style="text-align: center;">
    <img id="img_icon" src="/ns.jpg"  />
    <h5 id="namor">namor</h5>
  </div>

  <p>
    namor といいます．逆から読むとroman...
    <br />
    大学に入り，ハンドルネームが必要で咄嗟に考えた名前です．
    <br />
    情報系の大学に通っていて,技術系サークルに所属しています．
  </p>
  <style>
    #img_icon {
      border: 4px solid #0a1f71;
      width: 1em;
    }
    #namor {
      margin: 0%;
    }
  </style>
</BaseLayout>
