---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout>
  <!-- <h3>My awesome blog subtitle</h3> -->
  <!-- <Greeting
    client:load
    messages={["Hej", "Hallo", "Hola", "Habari", "こんにちは"]}
  /> -->
  <h5>自分の記録を書き溜めるために始めたブログです!!</h5>
</BaseLayout>
