---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout>
  <!-- <h3>My awesome blog subtitle</h3> -->
  <!-- <Greeting
    client:load
    messages={["Hej", "Hallo", "Hola", "Habari", "こんにちは"]}
  /> -->
  <div id="diary">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTdcvXdB3OOjxYOZrKXzZUd0ffFMA2RBEPJjmCjcYZn7Jfst3DBy_OMP12CnXF-mWoFYvN5MWenttsQ/pubhtml?gid=848457820&amp;single=false&amp;widget=false&amp;headers=false&amp;chrome=false"width="1600em" height="2000em" ></iframe>
    </div>
    <style>
    #diary{
      transform: scale(0.4,0.4);
      position:  relative;        /* 要素の配置方法を指定 */
      top: -30em  ;                  /* 上からの位置指定 */
      left: -10em;

    }
    #img_icon {
      border: 4px solid #0a1f71;
      width: 1em;
      height: auto;
      padding: 0%;
      margin:0%
    }
    #namor {
      margin: 0%;
    }
  </style>
</BaseLayout>
