---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout>
  <!-- <h3>My awesome blog subtitle</h3> -->
  <!-- <Greeting
    client:load
    messages={["Hej", "Hallo", "Hola", "Habari", "こんにちは"]}
  /> -->
  
  <div id="diary">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTdcvXdB3OOjxYOZrKXzZUd0ffFMA2RBEPJjmCjcYZn7Jfst3DBy_OMP12CnXF-mWoFYvN5MWenttsQ/pubhtml?gid=848457820&amp;single=false&amp;widget=false&amp;headers=false&amp;chrome=false"width="1600em" height="3000em" ></iframe>
    </div>
  <div id="diarypho">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTdcvXdB3OOjxYOZrKXzZUd0ffFMA2RBEPJjmCjcYZn7Jfst3DBy_OMP12CnXF-mWoFYvN5MWenttsQ/pubhtml?gid=848457820&amp;single=false&amp;widget=false&amp;headers=false&amp;chrome=false"width="1600em" height="50000em" ></iframe>
    </div>
    <style>
    #diary{
      transform: scale(0.7,0.7);
      position:  relative;        /* 要素の配置方法を指定 */
      top: -20em  ;                  /* 上からの位置指定 */
      left: -20em;
    }
    @media screen and (min-width:601px) {
      #diarypho{
        display:none;
      }
    }
    @media screen and (max-width:600px) {
      #diary{
        display:none;
      }
    }
    @media screen and (max-width:600px) {
      #diarypho{
        transform: scale(0.25,0.25);
        position:  relative;        /* 要素の配置方法を指定 */
        top: -1170em  ;                  /* 上からの位置指定 */
        left: -9em;
      }
    }
    
    #img_icon {
      border: 4px solid #0a1f71;
      width: 1em;
      height: auto;
      padding: 2%;
      margin:2%
    }
    #namor {
      margin: 0%;
    }
  </style>
</BaseLayout>
