---
const { title, url, date } = Astro.props;
---

<li>
  <div class="DivLink">
    <a class="Link" href={url}></a>
    <a href={url} id="title">{title}</a>
    <br />
    <a> <font color="#0000">投稿日時 : {date}</font></a>
  </div>
</li>
<style>
  a {
    margin-right: 10em;
    /* white-space: nowrap; */
  }
  #title {
    font-size: 200%;
    text-decoration: none;
    margin: 0%;
    position: relative; /*アンダーラインの位置を決めるための基準 */
  }
  @media (max-width: 600px) {
    #title {
      font-size: 130%;
    }
  }
  #title::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -1px; /*アンダーラインが位置する、各リストの下端からの高さ　ヘッダーの下端に合わせています*/
    visibility: hidden; /*ホバー前に、アンダーラインを可視化しない*/
  }
  #title:hover::after {
    visibility: visible; /*ホバー後、アンダーラインを可視化する*/
  }
  li {
    width: 35em;
  }
  @media (max-width: 700px) {
    li {
      width: 28em;
    }
  }
  @media (max-width: 600px) {
    li {
      width: 22em;
    }
  }
  @media (max-width: 500px) {
    li {
      width: 18em;
    }
  }
  @media (max-width: 430px) {
    li {
      width: 15em;
    }
  }
  @media (max-width: 390px) {
    li {
      width: 13em;
    }
  }
  .DivLink {
    position: relative;
    padding-top: 2em;
  }

  .DivLink .Link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
  }
</style>
